/* Version mobile */



/* Police d'écriture */
@font-face {
   padding:20px;
   font-family: BigBoy;
   src: url("./Polices/BigBoy.otf");
   font-weight: bold;
}
/*-------------------*/



/* Corps */
body {
   padding-top: 210px ;
   padding-bottom: 18vh;
   background-color : #FEFBE9;
   font-family : BigBoy, Tahoma;
   color : #CD5C5C;
   justify-content : center;
   min-width : window.screen.width;
}
/*-------*/



article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}



/* En tete */
header {
   position : absolute;
   top : 0;
   bottom : 100%;
   left : 0;
   right : 0;
   width : 100%;
   height : 200px;
   justify-content : center; 
   vertical-align: middle;
   paddind : 0.3px;
   background-color : #FEFBE9;
}
/*---------*/



/* Bas de page */
footer {
    position : fixed;
    bottom: 0;
    left : 0;
    right : 0;
    width: 100%;
    height: 10vh;
    line-height : 10vh; 
    text-align : center;
    vertical-align : center;
    background-color : #E1EEDD;
    color : #183A1D;
    font-size : 5.5vw;
}
/*-------------*/



/* Reglage des images */
#images {
    float: center;
    display:flex; 
    width: 70vw;
    height: 70vw;
    object-fit: cover;
    max-width: 100%; 
}



#images2 {
    float: left;
    width:  6vw;
    height: 6vw;
    object-fit: cover;
    max-width: 100%;
}
/*--------------------*/



/* Reglages des tableaux*/
table {
  border : 10px solid transparent;
  border-spacing : 15px;
  font-size : 30px;
}
/*----------------------*/



/* Réglages des colonnes */
td {
   border : 1px;
   text-align : center;
}
/*-----------------------*/



/* Images des tableaux */
td img{
display: block;
margin-left: auto;
margin-right: auto;
}
/*---------------------*/



/* h1 Style (Title) */
h1 {
   color : #CD5C5C;
   text-align : center;
   font-size : 70px;
}
/*------------------*/



/* h2 Style */
h2 {
   text-align : center;
   font-size : 40px;
}
/*----------*/



/* Autres styles de texte */
.greeting h1 {
  margin-bottom: 0;
}
.greeting h2 {
  line-height: 0px;
  margin-top: 2;
}
/*------------------------*/



/* h3 Style */
h3 {
  font-size : 30px;
}
/*----------*/



/* Link style */
.link {
   display : inline-block;
   text-decoration: none;
   color : #04AA6D;
   position : relative;
   line-height : 5vw; 
}



.link::after {
   content : '';
   width : 100%;
   height : 1px;
   background-color : #CD5C5C;
   border-radius : 5px;
   position : absolute;
   left : 0;
   bottom : 0;
   transform : scaleX(0);
   transform-origin : left;
   transition : transform .25s ease;
}



.link:hover::after {
   transform : scaleX(1);
}
/*------------*/



/*Nav Bar*/
.topnav {
  overflow: hidden;
  background-color: #E1EEDD;
}

.topnav a {
  float: left;
  color: #183A1D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13 px;
}

.topnav a:hover {
  background-color: #87E990;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: #183A1D;
}


.topnav2 {
  overflow: hidden;
  background-color : #E1EEDD;
}

.topnav2 a {
  float: right;
  color: #183A1D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13 px;
}

.topnav2 a:hover {
  background-color: #87E990;
  color: black;
}

.topnav2 a.active {
  background-color: #04AA6D;
  color: #183A1D;
}
/*-------*/
